DB_USER="user"
DB_PASSWORD="user_password"
DB_HOST="localhost"
DB_PORT="5432" //Port for database
DB_NAME="mydb" 
APP_PORT="3000" //Port for server
FASTAPI_URL="http://localhost:8000" //Port for Fastapi microservice